@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: 'Roboto', system-ui, sans-serif, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(to right, cyan, #3b82f6);
  font-weight: 400;
  min-width: 500px;
  margin: 0 auto;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
